@media print {

  body {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  p {
    margin-left: 2.0rem;
    margin-right: 2.0rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-left: 1.8rem;
  }

  h2 {
    color: #2a64ad;
    font-weight: 700;
  }

  h3 {
    color: #a84b0a;
    font-weight: 700;
  }

  h4 {
    font-weight: 600;
  }

  ul, ol {
    padding-left: 2.0rem;
    padding-right: 2.0rem;
  }

  #markdown-toc {
    margin-top: 0;
    line-height: 2;
  }

  div.alert + h3 {
    margin-top: 0.2rem;
    padding-top: 0;
  }

  div.alert.alert-info,
  div.alert.alert-primary,
  div.alert.alert-warning,
  div.alert.alert-danger {
    margin-left: 2.0rem;
    margin-right: 2.0rem;
  }

  div.alert.alert-info ul {
    padding-left: 0;
    padding-right: 0;
  }

  div.alert.alert-info>*:first-child {
    margin-left: 0rem;
}

  .print-tight {
    display: block;
    height: 1.0rem;
    margin: 0;
    padding: 0;
  }

  .print-tight-double {
    display: block;
    height: 1.5rem;
    margin: 0;
    padding: 0;
  }

  table.indent-table {
    margin-left: 2.0rem;
    margin-right: 2.0rem;
    width: 90%;
  }

  img[src$="images/Ui.png"] {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img[src$="images/delete2Result.png"] {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img[src$="images/findAlexDavidResult.png"] {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img[src$="images/DomainEntitiesClassDiagram.png"] {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  table.command-summary-table {
    line-height: 1.6;
    font-size: 0.7rem;
  }

  .intro-para {
    margin-left: 2.0rem;
    margin-right: 2.0rem;
    font-size: 1.0rem;
    line-height: 1.4;
  }

  .short-break {
    display: block;
    height: 0em;
    line-height: 0;
    margin: 0;
    padding: 0;
  }

}


