#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #acbff7;
}

#copyButton:hover {
    -fx-background-color: #eecaf3;
}

#copyButton:armed {
    -fx-background-color: #c9cdea;
}

#helpMessageContainer {
    -fx-background-color: #c9cdea;
}
